<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{tab_title}}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="mfr2M0Xv2trM2HJQcYLgX9JwSTAocsHHrK98tb_fkiQ" />
    <link
      rel="icon"
      type="image/png"
      href="../../assets/images/icons/favicon.ico"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://use.fontawesome.com/748c278b0b.js"></script>
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="main-layer">{{{content}}}</div>
  </body>
</html>
