<nav>
  <div>
    <a href="#" class="logo">
      <img
        src="../../assets/images/logo-color.png"
        alt="Visitour.app"
        width="80px"
        height="70px"
        style="object-fit: contain"
      />
    </a>
    <ul class="nav-links">
      <li class="{{dashboard}}">
        <a href="/admin/dashboard">Dashboard</a>
      </li>
      <li class="{{ver_req}}">
        <a href="/admin/verification-requests">Verification Requests</a>
      </li>
      <li class="{{man_prov}}">
        <a href="/admin/manage-provinces">Manage Provinces</a>
      </li>
    </ul>
  </div>

  {{> user_menu}}
</nav>
