<link rel="stylesheet" href="../../assets/css/main.styles.css">
<link rel="stylesheet" href="../../assets/css/responsive.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{{> lp_navbar}}

<div class="about-us-section">

    <img data-aos="fade-right" data-aos-offset="0" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-mirror="true" src="../../assets/images/x-mock-up-1.png"
        alt="Visitour App. Available on Google Play Store and Apple App Store.">
    <div>
        <h3 data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="1000"
            data-aos-easing="ease-in-out" data-aos-mirror="true">Visitour: Explore the best of the Philippines in a
            single app!</h3>
        <article data-aos="fade-up" data-aos-offset="200" data-aos-delay="200" data-aos-duration="1000"
            data-aos-easing="ease-in-out" data-aos-mirror="true">
            An archipelagic country with its abounding beauty, the "Pearl of the Orient Seas" Philippines, offers you a
            paradise waiting to be explored. As a treasure trove for scenic sites, rich cultural appeal, and authentic
            cuisines that are guaranteed to be the best in many worlds, it promises an adventure of a lifetime and a
            unique
            gastronomic experience. With this plethora of things to do and places to see, Visitour will help you explore
            the
            best of the Philippines.
            <br>
            <br>
            Visitour is developed to cope with the paradigm shift in the landscape of the
            tourism industry. This mobile application for both android and apple users allows you to browse its vast
            directory of cities and what each city has to offer to travelers—places to be, featured restaurants,
            adventure
            spots, and many more. With its timely updates, travelers can browse through the best of the Philippines
            hassle-free, and book in advance. More than that, Visitour makes it possible for you to connect to a local
            tour
            guide, allowing you to have an authentic experience of the place.
            <br>
            <br>
            With its natural resources and the
            development of many attractions, tourism in the Philippines has been bustling. Local and national
            advertisements
            over television and social media significantly boosted the country's information for different tourist
            attractions. With the available information, you can browse and book a place to go. However, with its 7,640
            islands, one can be dizzy with choosing which location to best visit in certain times and certain moods.
            Wherever or whatever it is you're looking for, may it be an excellent place to escape the hustle and bustle
            of
            the city or the best resto to dine in town, Visitour is here to assist you. With just few clicks—browse,
            book,
            and secure a tour guide with Visitour. Explore the best of the Philippines in a single app!
        </article>
    </div>
</div>

<script src="../../assets/js/device-logger.js"></script>
<script src="../../assets/js/main.scripts.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../../assets/js/landing_page.animations.js"></script>