<link rel="stylesheet" href="../../assets/css/main.styles.css" />
<link rel="stylesheet" href="../../assets/css/modal.css" />
<link rel="stylesheet" href="../../assets/css/responsive.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

{{> lp_navbar}}

<div class="lifestyle-section">
  <h1
    data-aos="fade-up"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
  >
    Lifestyle<br />Provided<br />with Ease!
  </h1>
  <p
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
  >
    Do you own a business or looking forward to owning one? Together, let us
    innovate. Become a merchant now!
  </p>

  <div
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-offset="200"
    data-aos-duration="800"
    data-aos-easing="ease-in-out"
    class="container"
  >
    <div>
      <img
        src="../../assets/images/visitour-ls.png"
        width="250px"
        style="object-fit: contain"
      />
      <p>Visitour</p>
    </div>
    <div>
      <img
        src="../../assets/images/lifestyle.png"
        width="250px"
        style="object-fit: contain"
      />
      <p>Lifestyle for Locals</p>
    </div>
    <div>
      <img
        src="../../assets/images/traveler.png"
        width="250px"
        style="object-fit: contain"
      />
      <p>Home for Travelers</p>
    </div>
  </div>
</div>

<h1 class="title how">How to Become a Partner?</h1>

<div class="instructions-section">
  <div
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-offset="300"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
  >
    <h1>1</h1>
    <h5>Switch to Merchant</h5>
    <p>
      Switch to Merchant On the bottom portion of the app, tap the Profile icon.
      It will show a menu which includes the 'Switch to Merchant' option.
    </p>
  </div>
  <div
    data-aos="fade-up"
    data-aos-delay="500"
    data-aos-offset="300"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
  >
    <h1>2</h1>
    <h5>Register your Establishment</h5>
    <p>
      Provide all the information and document being required in the electronic
      form.
    </p>
  </div>
  <div
    data-aos="fade-up"
    data-aos-delay="700"
    data-aos-offset="300"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
  >
    <h1>3</h1>
    <h5>Wait for Verification</h5>
    <p>
      Upon submission of the required data, the establishment will undergo a
      verification process within 24 hours to ensure the veracity of the details
      submitted.
    </p>
  </div>
  <div
    data-aos="fade-up"
    data-aos-delay="900"
    data-aos-offset="300"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
  >
    <h1>4</h1>
    <h5>Verified</h5>
    <p>
      An email notification will be sent within 24-48 hours from verification on
      the approval or denial of the registration. Once approved, the
      establishment will be reflected on the mobile app and the merchant can
      update the details of the establishment.
    </p>
  </div>
</div>

<div
  class="get-section"
  id="download-section"
  style="background-image: url(../../assets/images/bg-farm.png)"
>
  <h1
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    class="title"
  >
    Download Now!
  </h1>
  <div
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="200"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    class="btn-container"
  >
    <img
      data-aos="fade-up"
      data-aos-offset="0"
      data-aos-delay="300"
      data-aos-duration="1000"
      style="margin-top: 1em; background-color: white; padding: 10px;"
      width="150"
      height="150"
      src="https://visitour-staging.s3.ap-southeast-1.amazonaws.com/etc/61c31cb438edc41eed2eac6d/61c31cb438edc41eed2eac6d_1642201785353/61c31cb438edc41eed2eac6d_1642201785353_large.png"
    />
    <!-- <button class="btn-tertiary store"><i class="fa fa-google" aria-hidden="true"></i> Play Store</button>
        <button class="btn-tertiary store"><i class="fa fa-apple" aria-hidden="true"></i> App Store</button> -->
  </div>
</div>

{{> lp_footer}}

<script src="../../assets/js/device-logger.js"></script>
<script src="../../assets/js/main.scripts.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../../assets/js/landing_page.animations.js"></script>
