<link rel="stylesheet" href="../../assets/css/main.styles.css" />
<link rel="stylesheet" href="../../assets/css/modal.css" />
<link rel="stylesheet" href="../../assets/css/responsive.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

{{> lp_navbar}}
<div class="intro-section">
  <div>
    <h1
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      class="tagline"
    >
      Your Tourist<br />Destinations<br />in One App
    </h1>
    <div
      data-aos="fade-up"
      data-aos-offset="0"
      data-aos-delay="300"
      data-aos-duration="1000"
      class="btn-container"
    ></div>

    <a href="https://www.facebook.com/visitour/photos/a.109495151313266/274075111521935" target="_blank">
      <img
        data-aos="fade-up"
        data-aos-offset="0"
        data-aos-delay="300"
        data-aos-duration="1000"
        class="ad-material"
        src="../../assets/images/ad-material.png"
      />
    </a>
  </div>

  <div class="intro-bg">
    <div
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="300"
      data-aos-duration="1000"
      class="phone-frame"
    ></div>
  </div>
  <div class="yellow-blob"></div>
</div>

<div
  data-aos="fade-left"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  class="discover-section"
>
  <h1 class="title">Discover Places</h1>
  <div class="card-list">
    {{#each featureArticles}}
    <div
      class="place-card-wrapper open-modal discover-place-modal"
      data-photo="{{this.headerImage.large}}"
      data-title="{{this.title}}"
      data-subtext="{{this.subText}}"
      data-article="{{this.article}}"
      data-credit="{{this.credit}}"
    >
      <div
        class="place-card"
        style="background-image: url('{{this.headerImage.medium}}');"
      >
        <div class="place-info">
          <img src="../../assets/images/icons/sun-icon.png" class="sun-icon" />
          <div>
            <p class="destination-name">{{this.title}}</p>
            <p class="destination-location">{{this.subText}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<div
  data-aos="fade-right"
  data-aos-offset="100"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  class="virtual-section"
>
  <h1 class="title">Virtual Tour</h1>
  <div class="card-list">
    {{#each virtualTour}}
    <div class="place-card-wrapper">
      <a href="{{this.link}}">
        <div
          class="place-card"
          style="background-image: url('{{this.bg}}'); align-items: flex-start;"
        >
          <div class="virtual-info">
            <div>
              <p class="virtual-name">{{this.text}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>

<div class="skip-section">
  <div>
    <div class="color-blobs">
      <div class="blob-primary"></div>
      <div class="blob-secondary"></div>
      <div class="blob-tertiary"></div>
    </div>
  </div>

  <div class="skip-content">
    <div
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <h1>Skip the Hassle</h1>
      <p>
        Skip having to search thousand of results for a certain establishment's
        contact information. Visitour offers instant call feature to be able to
        connect customers and establishments immediately.
        <span style="opacity: 0.5">(Charges may apply)</span>
      </p>
    </div>
    <img src="../../assets/images/x-mock-up-1.png" class="mock-up-home" />
  </div>
</div>

<div
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
  class="plan-section"
>
  <h1>Plan With Ease</h1>
  <p>
    Plan your upcoming trip by browsing through thousands of local hotels and
    activities in Visitour. Take your pick for a hassle-free planning.
  </p>

  <div>
    <div class="category-card">
      <img src="../../assets/images/icons/mountains.png" alt="Freepik" />
      <h6>Mountains</h6>
      <p>68 Mountains</p>
    </div>
    <div class="category-card down">
      <img src="../../assets/images/icons/bars.png" alt="Freepik" />
      <h6>Bars</h6>
      <p>360 Bars</p>
    </div>
    <div class="category-card">
      <img src="../../assets/images/icons/islands.png" alt="Freepik" />
      <h6>Islands</h6>
      <p>15 Islands</p>
    </div>
    <div class="category-card down">
      <img src="../../assets/images/icons/bellboy.png" alt="Freepik" />
      <h6>Hotels</h6>
      <p>113 Hotels</p>
    </div>
    <div class="category-card">
      <img src="../../assets/images/icons/restaurant.png" alt="Freepik" />
      <h6>Restaurants</h6>
      <p>420 Restaurants</p>
    </div>
    <div class="category-card down">
      <img src="../../assets/images/icons/cafe.png" alt="Freepik" />
      <h6>Cafes</h6>
      <p>150 Cafes</p>
    </div>
  </div>
</div>

<div class="tailored-section">
  <div class="bg-chips-wrapper">
    <div class="bg-chips"></div>
  </div>

  <div
    data-aos="zoom-out"
    data-aos-offset="100"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    class="tailored-wrapper"
  >
    <h1>Tailored Destinations</h1>
    <p>
      Visitour's home page features places and establishments varying from newly
      opened to the most popular. You don't have to browse through a lot of
      listings if you don't know what you want.
    </p>
  </div>
</div>

<div class="section-discover">
  <div
    data-aos="fade-down"
    data-aos-offset="300"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
  >
    <h1>Discover More</h1>
    <p>
      Visitour provides listings for businesses that offers a variety of
      services that helps locals in their day to day life.
    </p>
  </div>

  <div
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
  >
    <img src="../../assets/images/x-mock-up-2.png" />
    <img src="../../assets/images/x-mock-up-3.png" />
  </div>
</div>

<div class="get-section" id="download-section">
  <h1
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
  >
    Get Started<br />Soon at
  </h1>
  <div
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="300"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    class="btn-container"
  >
    <a
      href="https://play.google.com/store/apps/details?id=com.visitour"
      target="_blank"
      ><button class="btn-tertiary store">
        <i class="fa fa-google" aria-hidden="true"></i> Play Store
      </button></a
    >
    <a
      href="https://apps.apple.com/ph/app/visitour-ph/id1570025792"
      target="_blank"
      ><button class="btn-tertiary store">
        <i class="fa fa-apple" aria-hidden="true"></i> App Store
      </button></a
    >
  </div>
</div>

{{> lp_footer}}

<div class="modal featured-place">
  <div>
    <img class="photo" />
    <div>
      <h1 class="title"></h1>
      <p class="subtext"></p>
      <p class="article"></p>
      <p class="credit"></p>
    </div>
  </div>
  <p class="close-modal">
    <i class="fa fa-2x fa-times-circle" aria-hidden="true"></i>
  </p>
</div>

<script src="../../assets/js/device-logger.js"></script>
<script src="../../assets/js/main.scripts.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../../assets/js/landing_page.animations.js"></script>
