<link rel="stylesheet" href="../../assets/css/main.styles.css">
<link rel="stylesheet" href="../../assets/css/modal.css">
<link rel="stylesheet" href="../../assets/css/responsive.css">

{{> lp_navbar}}

<div class="policy-section">
    <div>
        <h1 class="">Privacy Policy</h1>
        <br>

        <p>Please read our privacy policy carefully to get a clear understanding of how we collect,
            use, protect or otherwise handle your Personally Identifiable Information in accordance
            with the Data Privacy Act of 2012.</p>
        <br>
        <p>What personal information do we collect from the people that
            register in our mobile app? When registering in our app,
            you will be asked to enter your name and email to help
            you with your experience.</p>
        <br>
        <p>When do we collect information?
            <br>We collect information from you when you register on
            our mobile app.
        </p>

        <br>
        <p>How do we use your information? <br>
            We may use the information we collect from you when you register in the following ways:
            <br>
            To personalize your experience and to allow us to deliver the type of content
            and service offerings in which you are most interested in.
            <br>
            To quickly process your transactions.
            For correspondence like chat, email or phone inquiries.
        </p>
        <br>

        <p>All payment transactions are processed through a gateway provider
            and are not stored or processed on our servers.
        </p>
        <br>

        <p>According to Data Privacy Act of 2012, we agree to the following:</p>
        <p>Users can browse our mobile application anonymously.
            <br>
            Once this privacy policy is created, we will add a link to it on our home page
            or as a minimum, on the first significant page after entering our website.
        </p>
        <br>

        <p>You will be notified of any Privacy Policy changes:
            <br>
            On our Privacy Policy Page
            <br>
            <br>
            Can change your personal information:
            By logging in to your account
            <br>
            Others
            <br>
            In app profile/account settings
        </p>

        <br>
        <p>Contacting Us</p>
        <p>If there are any questions regarding this privacy policy,
            you may contact us using the information below.</p>

        <br>
        <p>● By email: support@visitour.app
            <br>
            ● By phone number: (0991) 417 7361
            <br>
        </p>
    </div>
</div>

<script src="../../assets/js/device-logger.js"></script>
<script src="../../assets/js/main.scripts.js"></script>
