<link rel="stylesheet" href="../../assets/css/main.styles.css" />
<link rel="stylesheet" href="../../assets/css/modal.css" />
<link rel="stylesheet" href="../../assets/css/responsive.css" />

{{> lp_navbar}}

<div class="terms-section">
    <div>
        <h1 class="">Terms and Conditions for Guests</h1>
        <br />
        <br />
        <p>
            This mobile application Visitour and/or the website www.visitour.app
            (collectively, the, “Visitour Platform”) is operated by VISITANT PH
            CORPORATION, a Philippine incorporated company. Please read these
            terms and conditions (“Terms of Use”) carefully before using the
            Visitour Platform and the services offered by VISITANT PH
            CORPORATION, or the independent operators (the “Merchants”) through
            the Visitour Platform (the “Services”). “Users,” “Guests,” “You,”
            and “Your” when used in this Terms of Use includes (1) any person
            who accesses the Visitour Platform and (2) persons for whom you make
            a purchase of the Services. When used in these Terms, “Visitour,”
            “we,” “us,” or “our” refers to the VISITANT entity.
        </p>
        <br />
        <div class="terms-list">
            <h2>1. &emsp;Agreement</h2>
            <br />
            <p>
                These terms and conditions are a binding legal agreement between
                you and Visitour that govern your use of the mobile application,
                website, and other offerings from Visitour. These terms of use,
                together with our privacy policy, apply to any use of the
                Visitour Platform. Users visiting Visitour Platform may use the
                platform only on condition that they accept the Terms of Use and
                read and understand the Privacy Policy. Any further use of the
                Platform or any part of it means you have read and understood
                the Terms of Use and the Privacy Policy, and agree to be bound
                by all parts of the Terms of Use.
            </p>
            <br />
            <h2>2. &emsp;Use of our website</h2>
            <br />
            <p>
                Information found on our Website is for general informational
                purposes only. Information on our website does not constitute an
                offer binding to us. Binding agreements with merchants require a
                booking request through the mobile application of Visitour and
                the merchant’s acceptance of the booking request according to
                the Terms and Conditions.
            </p>
            <br />
            <h2>3. &emsp;Amendments to the Terms of Use</h2>
            <br />
            <p>
                Visitour reserves the right, at its sole discretion, to change
                or modify any part of this Terms of Use at any time without
                prior notice. If we make any amendments, they apply as of the
                date of their publication on our Platform. Visitour will
                indicate at the bottom of this page the date on which this Terms
                of Use was last visited. Visitour expects you to regularly refer
                to this section to make sure you are familiar with the
                applicable Terms of Use. Any further use of the Visitour
                Platform following such amendments or modifications means you
                consent to the revised Terms of Use. Disagreement to the revised
                Terms of Use entails you to stop accessing or using the Visitour
                Platform.
            </p>
            <br />
            <h2>4. &emsp;Intellectual Property Rights</h2>
            <br />
            <p>
                Visitour owns all intellectual rights to the Visitour Platform.
                The Visitour Platform is protected by copyright and any other
                intellectual property rights. Users or Guests are not allowed to
                publish, sell, reproduce, distribute, display, alter or exploit
                any part of the Visitour Platform and its contents. You may use
                or access the Visitour Platform, but not reproduce, upload,
                download, publish, or license it and its contents for commercial
                purposes.
            </p>
            <br />
            <h2>5. &emsp;Know your legal obligations</h2>
            <br />
            <p>
                You are responsible for understanding and complying with any
                laws, rules, regulations, and contracts with third parties that
                apply to your booked Services. If you have legal questions, you
                should always seek legal advice.
            </p>
            <br />
            <h2>6. &emsp;Booking</h2>
            <br />
            <p>
                6.1 When you place a booking, reservation or order request
                through the VISITOUR Platform, you are entering into a contract
                directly with the Merchant, and are responsible for accepting
                the terms and at the price specified in your booking. We advise
                you to place your booking, reservation or order request at least
                48 hours before your scheduled trip.
            </p>
            <br />
            <p>
                6.2 The first part of the transaction process is you sending a
                booking,reservation or order request to the merchant. Sending a
                booking, reservation or order request does not guarantee you a
                slot for the services you wish to avail as it would be subject
                to merchant’s acceptance of your request. The merchant may
                decline your request and provide you with the reason as to why
                your request was not accepted. Merchant’s acceptance or
                rejection is subject to 24 hours.
            </p>
            <br />
            <p>
                6.3 Once you receive the confirmation from the merchant which
                you will receive through a notification from Visitour, you will
                proceed to payment where you are agreeing to pay all charges for
                your transaction including the listed price, applicable fees
                like Visitour’s service fee of ten percent (10%) for each
                booking, taxes, and any other identified fees shown during
                payout (altogether, “Total Price”). After paying the Total
                Price, you are now booked for the services you requested. You
                are required to pay the Total Price within 24 hours. For the
                year 2022, only five percent (5%) will be imposed as a form of a
                promo.
            </p>
            <br />
            <h2>7. &emsp;Booking Modifications</h2>
            <br />
            <p>
                Merchants and Guests are responsible for any Booking
                Modifications like cancelation or rebooking they agree to make
                via the VISITOUR Platform or direct VISITOUR customer service to
                make on their behalf, and agree to pay any additional amounts,
                fees or taxes associated with a Booking Modification.
            </p>
            <br />
            <p>
                Cancellation and refund is only allowed in cases of death or
                fortuitous event.
            </p>
            <br />
            <h2>8. &emsp;Your Responsibilities</h2>
            <br />
            <p>
                You are responsible and liable for your own acts and omissions
                and are also responsible for the acts and omissions of anyone
                you allow to participate in booking your Services.
            </p>
        </div>
    </div>
</div>

<script src="../../assets/js/device-logger.js"></script>
<script src="../../assets/js/main.scripts.js"></script>
