<link rel="stylesheet" href="../../assets/css/main.styles.css">
<link rel="stylesheet" href="../../assets/css/responsive.css">

{{> lp_navbar}}

<div class="intro-section" style="justify-content: center; text-align: center;">
    <div>
        <h1 style="opacity: .7; margin-bottom: 20px; font-family: var(--font-secondary);">Page Still Under Development.</h1>
        <img src="../../assets/images/under-development.png" width="400px" style="object-fit: contain;">
    </div>
</div>

<script src="../../assets/js/main.scripts.js"></script>
